* {		
	text-decoration: none;
	color: white;
}



.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

body {
	font-family: "Montserrat";
	color: white;	
	background: #ebebeb;	
	width: 100%;
	margin: 0;
	padding: 0;
}

header {
	background: #373c3f;
}

.top {
	display: inline-block;
	height: 55vw;
	background: linear-gradient(to right, #16b1c4, #088ea7);
	padding: 0 15vw 0 8vw;
	font-size: 6vw;
	font-family: "Montserrat";	
}

.topfirst {
	font-weight: bold;
	padding: 15.5vw 0 4vw 0;
}

.topsecondleft {
	float: left;
	color: #a3ceda;
	font-size: 4vw;
	font-family: "Montserrat";
}

.topsecondright {
	float:right;
	font-size: 4vw;	
	font-family: "MS Gothic";
	font-weight: bolder;
	padding-right: 4vw;
	
}

@keyframes changetopsecondright {
    from { }
    to {
    	color: #bc3183; 
    	font-size: 6vw; 
    }
}

.topsecondright a:hover {	
	animation-name: changetopsecondright;
	animation-duration: 2s;	
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

.topsecondleft:hover {
	color: white;
}

.mid {
	height: 24vw;
	background: gray;

}

.midleft {
	float: left;
	display: inline-block;
	background: #27212c;
	height: 100%;
	border: 0;
	width: 68%;	
	padding: 0  0 0 8vw;
	margin: 0 -8vw 0 0 ;
	font-size: 3vw;
	font-family: "Montserrat";
	color: #a392b4;
}

.midright {
	display: inline-block;
	float: right;
	height: 15vw;
	background: #bc3183;
	color: white;	
	width: 24%;
	font-size: 6vw;
	font-family: "MS Gothic";
	font-weight: bolder;
	text-align: center;
	padding-top: 9vw;
}

@keyframes changecolors {
    from { }
    to {
    	color: black; 
    	background: white; 
    }
}

.midright:hover{
	animation-name: changecolors;
	animation-duration: 2.00s;
	animation-iteration-count: infinite;
	animation-direction: alternate;	
}

.arrow {
	text-align: center;
	background: #5b0fa1;
	font-family: "MS Gothic";
	font-weight: bolder;
}

.arrow:hover{
	animation-name: changecolors;
	animation-duration: 2.00s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

.pic {
	display: block;
}

.textwrapper{
	display: inline-block;
}

.headline {
	color: #088ca5;
}

.textcontent {
	color: #515151;
}

@media (min-width: 980px) {

	.navigation{
		display: none;
	}

	.stripes {
		display: none;
	}

	header {
		height: 10vw;
		width: 100%;
	}

	.menu {
		display: inline-block;
		height: 10vw;
		width: 98%;
		padding: 0 0 0 2%;
		margin: 0;
	}

	.menu li {
		display: inline-block;
		height: 10vw;
		font-size: 1.5vw;
	}
	
	.menu li a {
		display: inline-block;
		height: 100%;
		width: 100%;
		padding: 2vw 0 0 0 ;
		margin: 2vw;
		color: white;
	}	

	.menu li:hover{
		background: #202529;

	}
	.menu li:hover a{
		color: #ffffff;	
	}

	.arrow {
		float: left;
		height: 18vw;
		width: 33.4%;
		padding-top: 11vw;
		font-size: 5vw;
	}

	.pic {
		float: left;
		height: 29vw;
		width: 33.3%;
	}

	.textwrapper{
		width: 86%;
		padding: 7%;	
	}

	.headline {
		font-size: 2.5vw;
	}

	.textcontent {
		width: 47%;
		float: left;
		font-size: 1.5vw;
		padding-top: 3.00vw;
	}

	.add{
		float: right;
	}
}

@media (max-width: 979px) {
		
	header {
		height: 11vw;
		font-size: 4vw;	
	}

	.menu{
		display: none;
	}

	.textcontentadd{
		display: none;
	}

	.navigation {
		display: inline-block;
		font-weight: bold;	
		padding: 3vw 5vw;
	}

	.stripes {
		display: inline-block;
		float: right;
		height: 11vw;		
		font-size: 11vw;
		font-family: "Arial Black";	
		font-weight: bolder;
		padding: 0 3vw 3vw 3vw;
		margin: -3vw 0 0 0;	
		background: #202529;
	}

	.stripes:hover{
		background: #bc3183;
	}
	
	.arrow {
		height: 48vw;
		width: 100%;
		padding-top: 38vw;
		font-size: 12vw;
	}

	.pic{
		height: 76vw;
		width: 100%;
	}

	.textwrapper{
		width: 80%;
		padding: 10%;	
	}

	.headline {
		font-size: 4.5vw;
	}

	.textcontent {
		font-size: 3.25vw;
		padding-top: 8.5vw;
	}

	.add {
		display: none;
	}
}

/*
input[type="text"] {

	background-color: red;

}

*/